#

In [26]:
print ("Twinkle, twinkle, little star, \n " + "\t How I wonder what you are! \n " + "  \t    Up above the world so high, \n "+ "  \t    Like a diamond in the sky. \n " + "Twinkle, twinkle, little star, \n "+" \t How I wonder what you are")

Twinkle, twinkle, little star,
 	 How I wonder what you are!
   	    Up above the world so high,
   	    Like a diamond in the sky.
 Twinkle, twinkle, little star,
  	 How I wonder what you are

In [34]:
import datetime
x = datetime.datetime.now()
print ("Current date and time : ")
print(x.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2024-07-21 02:18:32

In [38]:
import sys
print(sys.version)
print(sys.version_info)

3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 10:14:12) [Clang 14.0.6 ]
sys.version_info(major=3, minor=12, micro=4, releaselevel='final', serial=0)

In [44]:
from math import pi 
r = float(input("enter radius "))
area = r * pi**2
print(" area of circle is " + str(area))

enter radius  9.5

 area of circle is 93.7612418103489

In [51]:
first = (input("enter first name"))
last = (input("enter last name"))
print (str(last) + "\t" + str(first))

enter first name mohamed
enter last name yousry

yousry	mohamed

In [2]:
values = input("enter some values comma-seperated : ")
list = values.split(",")
tuple = tuple(list)

print (list)
print (tuple)

enter some values comma-seperated :  4,5,6,7,8,9

['4', '5', '6', '7', '8', '9']
('4', '5', '6', '7', '8', '9')

In [8]:
file_name = input("enter your file name : ")

enter your file name :  vola

In [22]:
color_list = input("enter six colors with comma seperated : ")
list = color_list.split(",") 
print (list[0])
print (list[5])

enter six colors with comma seperated :  1,2,3,4,5,6

1
6

In [26]:
num = int(input("enter a number"))
print (num + num*num + num*num*num)

enter a number 5

155

In [36]:
import calendar
y = int( input("enter a year : "))
m = int(input(" enter month : "))
print(calendar.month(y,m))

enter a year :  9999
 enter month :  2

   February 9999
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

In [48]:
from datetime import date 
first = date(2024 , 4 , 14)
second = date(2024, 8 , 3)
delta = second - first
 print(delta.days)

IndentationError: unexpected indent (2055826036.py, line 5)

In [6]:
x = list[1,2,3,4,55,6,6666]
type(x)

types.GenericAlias

In [10]:
 x = int(input("enter a number : "))
 y = 17
diff = int(x-y) 
print ("the difference : " +str(diff))
if x > 17 :
    print (" twice the value = " + str(diff*2))

enter a number :  20

the difference : 3
 twice the value = 6

In [18]:
x = int(input("write first value : ")) 
y = int(input("write second value : "))
z = int(input("write third value : "))
sum = int(x+y+z)

if x == y and y == z : 3
  print (str(sum * 3))

write first value :  3
write second value :  3
write third value :  3

27

In [28]:
l = list()
l ={1,2,3,4,5,6,,true,false,9,10}

SyntaxError: invalid syntax (2959184830.py, line 2)

In [9]:
x = [2,6,7,4,99,7,1]
print('the containers : ')
print(x)
print ("sum of container : ")
print(sum(x))

the containers :
[2, 6, 7, 4, 99, 7, 1]
sum of container :
126

In [23]:
x = int(input("enter a number : "))

if x == 1 :
    print ("First day of a Month!")
else :
    print()

enter a number :  2

In [32]:
a = int(input("enter 1st no."))
b = int(input("enter 2nd no."))
print (" before swap : ")
print ("a = " + str(a))
print ("b = " + str(b))
b,a = a,b
print (" after swap : ")
print ("a = " + str(a))
print ("b = " + str(b))

enter 1st no. 1
enter 2nd no. 2

 before swap :
a = 1
b = 2
 after swap :
a = 2
b = 1

In [39]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input("enter a number").strip())
     if n%2 ! = 0 :
         print ("Weird")
         elif n%2 ==0 and n>= 2 and n<=5 :
         print ("Not weird")
         elif n%2 ==0 and n>= 6 and n<=20 :
         print (" Weird")
         elif n%2 ==0 and n>20 :
         print ("Weird")

IndentationError: unexpected indent (2125229357.py, line 13)

In [42]:
#!/bin/python3

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input("enter a number").strip())
      if n % 2 != 0:
        print("Weird")
    elif n % 2 == 0:
        if 2 <= n <= 5:
            print("Not Weird")
        elif 6 <= n <= 20:
            print("Weird")
        elif n > 20:
            print("Not Weird")

IndentationError: unexpected indent (2063455515.py, line 13)

In [44]:
def classify_number(n):
    if n % 2 != 0:
        print("Weird")
    elif n % 2 == 0:
        if 2 <= n <= 5:
            print("Not Weird")
        elif 6 <= n <= 20:
            print("Weird")
        elif n > 20:
            print("Not Weird")

# Example usage
n = int(input("Enter an integer: "))
classify_number(n)

Enter an integer:  4

Not Weird

In [6]:
import math
p1 =[0,2]
p2 = [1,5]

distance =math.sqrt((p2[0]-p1[0])**2 + (p2[1]-p1[1])**2)
" the distance :" + str(distance)

' the distance :3.1622776601683795'

In [16]:
n = " 292.44 "
print (float(n))
print (int(float(n)))

292.44
292

In [40]:
def factorial (n) :
    if n ==1 or n ==0 :
        return 1
    else :
        return n*factorial(n-1)

x = int(input("enter a number "))
result = factorial(x)
print ("the factorial of " + str(x) + " : " + str(result) )

enter a number  8

the factorial of 8 : 40320

In [42]:
import sys
t1 = ("1","eee","fares","malek","33")
print (sys.getsizeof(t1))

80

In [48]:
l2 = [2,4,-5,66,76,-877,-456,798]
for n in l2 :
    if n >=0 : 
        print (n)

2
4
66
76
798

In [59]:
def convert (list) :
    return (tuple(list))

list = [1,2,3,4]
print(convert(list))

(1, 2, 3, 4)

In [180]:
def conListString(x):
    result = ""  # Use a different variable name
    for ele in x:
        result += ele
    return result

x = ['moo', 'is', 'egyptian']
print(conListString(x))  # Print the result to see the output

mooisegyptian

In [184]:
def classify_number(n):
    if n % 2 != 0:
        print("Weird")
    elif n % 2 == 0:
        if 2 <= n <= 5:
            print("Not Weird")
        elif 6 <= n <= 20:
            print("Weird")
        elif n > 20:
            print("Not Weird")

# Example usage
n = int(input("Enter an integer: "))
classify_number(n)

Enter an integer:  3

Weird

In [207]:
if __name__ == '__main__':
    n = int(input())
    x=0
    while x<=n :
            print (x**2)
            x+=1

 5

0
1
4
9
16
25

In [4]:
def is_leap(year):
    leap = False
    
    if year % 4 ==0 : 
        leap = True
    if year % 100 ==0 :
        if year % 400 ==0:
            leap = False
    else:
        leap = True
        
        return leap 
    

year = int(input())
print(is_leap(year))

 2012

True

In [13]:
def is_leap(year):
    leap = False
    
    if year % 400 == 0:
        leap = True
    elif year % 100 == 0:
        leap = False
    elif year % 4 == 0:
        leap = True

    
    return leap 
    

year = int(input())
print(is_leap(year))

 2100

False

In [35]:
n = 3
result = ""
for x in range(1, n + 1):
    result += str(x)
print(result)

123

In [37]:
 n = int(input())

for i in range(1,n+1):
    print(i, end='')

 9

123456789

In [39]:
m = int(input())

eng_roll = set(input().split())

n = int(input())

french_roll = set(input().split())

print(len(eng_roll.union(french_roll)))

 7
 8
 8
 7

2

In [57]:
word = str(input(" enter a word"))

for i in range(len(word)-1 , -1,-1 ) : 
    print (word[i] , end="")

print("\n")

 enter a word lplp

plpl

In [63]:
list = [1,2,3,4,5,6,7,8,9,150]
even = 0
odd = 0
for i in list :
    if i % 2 ==0 :
        even+=1
    elif i % 2 !=0 :
        odd+=1

print (even)
print (odd)

5
5

In [75]:
list = ["ali", False, 0 , 1.1,["list"] , ("tuple","tuple")]
for i in list : 
    print ("the type of" , i   ,type(i))

the type of ali <class 'str'>
the type of False <class 'bool'>
the type of 0 <class 'int'>
the type of 1.1 <class 'float'>
the type of ['list'] <class 'list'>
the type of ('tuple', 'tuple') <class 'tuple'>

In [83]:
for x in range(6+1): 
    if x==3 or x==6 :
        continue

    print (x , end='')

01245

In [139]:

x, y = 0, 1
while y < 50:  
    print(y , end=' ')
    x, y = y, x + y

1 1 2 3 5 8 13 21 34

In [155]:
for x in range(50):
    
    if x%3== 0 : 
        print("Fizz")
        continue
    elif x%5 == 0 : 
        print("Buzz")
        continue
    elif x%3==0 and x%5==0 :
        print("FizzBuzz")
        continue
    print(x)

Fizz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49

In [32]:
List = ['mohamed','ali','baraa',2,3,90]
List.append('k')
List

['mohamed', 'ali', 'baraa', 2, 3, 90, 'k']

In [38]:
fav_numbers = {'eric': 17, 'ever': 4}
for name in fav_numbers.keys :
    print(name + ' loves a number')

TypeError: 'builtin_function_or_method' object is not iterable

In [44]:
topping = input("enter your topping : ")
def make_pizza ( topping) :
    print('Have a ' , topping , ' on your pizza')

make_pizza(topping)

enter your topping :  spice

Have a  spice  on your pizza

SyntaxError: invalid decimal literal (3331368909.py, line 1)

In [14]:
word1 = list(input('enter a list of words '))
word2 = list(input(' enter two letters '))
print(word1 , end='')
print(word2 , end='')

enter a list of words  uiop[,llkkjh
 enter two letters  qazsxcvb,dfgh

TypeError: list() takes no keyword arguments

In [17]:
word = str(input("enter a word"))[::-1]
def reverse(word) :
    return word 
reverse(word)

enter a word :mo-hamed

'demah-om:'

In [21]:
	class Solution:
def reverseOnlyLetters(self, s: str) -> str:
    start,end = 0,len(s)-1
    s = list(s)
    while (start<end):
        if s[start].isalpha() and s[end].isalpha():
            s[start],s[end] = s[end],s[start]
            start += 1
            end -= 1
        elif s[start].isalpha() and s[end].isalpha() == False:
            end -= 1
        elif s[start].isalpha() == False and s[end].isalpha():
            start += 1
        else:
            start += 1
            end -= 1
    return "".join(s)

IndentationError: expected an indented block after class definition on line 1 (1294906534.py, line 2)

In [2]:
m = " mohamed yousry "
m.strip()

'mohamed yousry'

In [19]:
my_info = { "name " : "mohamed",
           " age "  : "21"
}
my_info["car"] = "ford"
my_info

{'name ': 'mohamed', ' age ': '21', 'car': 'ford'}